body {
  padding: 0;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  border-color: 2px solid black;
  background-color: whitesmoke;
}
#container {
  display: flex;
  justify-content: center;
}
